<article class="product-detail">
    <h1>{{product.name}}</h1>
    <div class="product-detail-container">
       <div class="product-thumb">
            <img alt={{product.name}} src="{{product.image}}" alt="">
        </div> 
        <div class="product-information">
            <p>{{product.description}}</p>
            <footer class="product-footer">
                <span class="product-price">{{product.price | currency:'EUR':true }}</span>
                <button class="button-primary" (click)="addProductTobasket()">Add to basket</button>
            </footer>
        </div>
    </div>
</article>
